* {
    font-family: Roboto;
}

.container {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.mirror-container, .speed-container {
    margin-bottom: 15px;
}

.header-container {
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 15px;
}

label, span {
    font-size: 16px;
}

label {
    margin-right: 15px;
}

#speedInput, #startTimeButton {
    margin-left: 60px;
}